*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
doc/
mongodb-win32-x86_64-windows-4.4.4/
favicon.png
favicon.png.import
Game.html
Game.js
Game.pck
Game.png
Game.png.import
Game.wasm
.import/favicon.png-05a5f25b7b35b567a640a7daf7751a8e.md5
.import/favicon.png-05a5f25b7b35b567a640a7daf7751a8e.stex
.import/Game.png-dfc09c99ca715651dde1217334cfaf47.md5
.import/Game.png-dfc09c99ca715651dde1217334cfaf47.stex
